
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  line-height: 160%;
  font-size: 100%;
}
.fullwidth {
  width: 100%;
  padding-top: 4rem;
  background-color: #fbfbfb33;
}
.gallery {
  width: 100%;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
}
.gallery .item {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 40rem) {
  .gallery .item {
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex-direction: column;
    text-align: center;
  }
}
.gallery .item:nth-child(even) {
  justify-content: flex-end;
}
.gallery .item:nth-child(even) .img-wrap {
  order: 2;
}
@media (max-width: 40rem) {
  .gallery .item:nth-child(even) .img-wrap {
    order: 0;
  }
}
.gallery .item:nth-child(even) caption {
  order: 1;
}
@media (max-width: 40rem) {
  .gallery .item:nth-child(even) caption {
    order: 0;
  }
}
.gallery .item .img-wrap {
  position: relative;
  padding: 0.8rem;
  width: 50%;
  flex-basis: 50%;
  border-radius: 50%;
  z-index:1;
}
@media (max-width: 40rem) {
  .gallery .item .img-wrap {
    width: 80%;
    flex-basis: 80%;
  }
}
.gallery .item .img-wrap:before, .gallery .item .img-wrap:after {
  content: '';
  position: absolute;  
  border-radius: 50%;
  transform: rotate(-90deg);
}
.gallery .item .img-wrap:before {
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-top: 1px solid #D4AF37;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #D4AF37;
  border-left: 1px solid transparent;
}
.gallery .item .img-wrap:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 3px solid #d9d9d9;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #d9d9d9;
  border-left: 3px solid transparent;
  transition: transform 0.5s;
}
.gallery .item .img-wrap img {
  display: block;
  width: 100%;
  height: auto;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #e6e6e6;
  background-image: radial-gradient(#e6e6e6, #ccc 80%);
  background-size: 130% 130%;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: inset 2px 2px 5px #b3b3b3, 2px 2px 15px #e6e6e6, inset 15px 15px 50px rgba(0, 0, 0, 0.1);
}
.gallery .item:hover .img-wrap:after {
  transform: rotate(0deg);
}
.gallery .item .img-wrap {
  width: 30%;
  flex-basis: 30%;
}
@media (max-width: 40rem) {
  .gallery .item .img-wrap {
    width: 60%;
    flex-basis: 60%;
  }
}

.gallery .item .caption {
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  color: #999;
}
@media (max-width: 40rem) {
  .gallery .item .caption {
    padding-top: 1rem;
  }
}
.gallery .item .caption h3 {
  position: relative;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gallery .item .caption a {
  display: inline-block;
  position: relative;
  padding: 0.3rem 1rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
}
.gallery .item .caption .btn-buy {
  margin-right: 1rem;
  color: #D4AF37;
  border: 1px solid #D4AF37;
  letter-spacing: 1px;
}
body {
    background-image:url('../../assets/background.png');
    font-family: 'Ibarra Real Nova', sans-serif;
    line-height: 1.4;
  }
  * {
    box-sizing: border-box;
  }
  a {
    color: #767A7F;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-6px);
    }
  }
  .nav {
    background: #fff;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    position: relative;
    margin: auto;
    font-size: 1.2rem;
    box-shadow: -2px 4px 12px #ededed;
    background-color:rgb(55, 29, 30);
    max-width: 1400px;
  }
  .nav a {
    cursor: pointer;
    padding: 1.5rem 2rem;
    display: inline-block;
  }
  .nav__logo {
    color: #B1B3B5;
    font-size: 1.8rem;
    align-self: center;
    padding: 0.5rem 1.2rem 0.8rem;
    cursor: pointer;
    white-space: nowrap;
  }
  .nav__logo span {
    color:rgb(255, 166, 0);
    display: inline-block;
    transform: translateY(0);
  }
  .nav__logo:hover span {
    animation: 0.4s bounce ease-in-out;
  }
  .nav__logo:hover span:nth-child(2) {
    animation-delay: 0.1s;
  }
  .nav__logo:hover span:nth-child(3) {
    animation-delay: 0.2s;
  }
  .nav__logo:hover span:nth-child(4) {
    animation-delay: 0.3s;
  }
  .nav__logo:hover span:nth-child(5) {
    animation-delay: 0.4s;
  }
  .nav__logo:hover:before {
    transform: translateY(0);
    transition: 0.3s ease 0.5s;
  }
  .nav__logo:before {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1.2rem;
    background: #fff;
    font-size: 1.1rem;
    width: calc(100% - 2.4rem);
    transform: translateY(-100%);
    z-index: -1;
    color: #292F36;
  }
  .nav__elements {
    display: flex;    
  }
  .nav__cart {
    display: inline-block;
    font: 700 1.1rem Oswald;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    color:rgb(255, 166, 0);
    padding: 1.2rem;
    align-self: center;
  }
  .nav__groups {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .nav__group {
    z-index: 2;
  }
  .nav__group > a {
    display: block;
    font: 700 1.1rem Oswald;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    color: #fff;
  }
  .nav__group:first-child > a {
    padding-left: 6rem;
  }
  .nav__group:last-child > a {
    padding-right: 6rem;
  }
  .nav__group__dropdown {
    position: absolute;
    top: 100%;
    visibility: hidden;
    display: none;
    opacity: 0;
    min-width: 450px;
    left: 0;
    padding: 1.5rem 2.5rem 2.5rem;
    background: #fff;
    transition: opacity 1.3s ease-in-out 0.3s, visibility 1s ease-out;
    text-align: left;
    width: 100%;
  }
  .product-list {
    flex: 1;
    min-width: 15rem;
    padding-right: 1rem;
  }
  .product-list a {
    padding: 0.5rem 0;
    transition: 0.2s ease;
    position: relative;
    z-index: 2;
  }
  .product-list a:before {
    content: '';
    left: 0;
    top: 85%;
    width: 0;
    transition: width 0.3s ease;
    height: 3px;
    position: absolute;
    background: #292F36;
  }
  .product-list a:hover {
    color: #292F36;
  }
  .product-list a:hover:before {
    width: 30px;
  }
  .product-list__link {
    padding-right: 0.5rem;
  }
  .product-list__title {
    width: 100%;
  }
  .product-list.multi {
    display: flex;
    flex-wrap: wrap;
  }
  .product-list.multi .product-list__link {
    flex: 1 1 50%;
  }
  .title {
    margin: 1.2rem 0 0.8rem;
    text-transform: uppercase;
    font: 700 1.1rem Oswald;
    letter-spacing: 0.02rem;
  }
  .multi-column {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .article-list {
    width: 100%;
    padding-right: 30%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.3rem;
  }
  .article-list__title {
    width: 100%;
  }
  .article-list__link {
    flex: 1;
    min-width: 11rem;
    margin-right: 2rem;
    position: relative;
    transition: transform 0.3s ease;
  }
  .article-list__link:before {
    content: '';
    width: 3.5px;
    height: 0;
    background: #292F36;
    transition: height 0.3s ease;
    position: absolute;
    top: 0.8rem;
    left: -0.9rem;
  }
  .article-list__link:hover {
    transform: translateX(10px);
  }
  .article-list__link:hover a {
    color: #292F36;
  }
  .article-list__link:hover:before {
    height: 30px;
  }
  .article-list a {
    padding: 0.4rem 0;
  }
  .nav__group a:hover + .nav__group__dropdown, .nav__group .nav__group__dropdown:hover, .nav__group li:hover > .nav__group__dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .product-image {
    position: absolute;
    max-width: 33%;
    height: 250px;
    object-fit: contain;
    object-position: bottom right;
    bottom: 0;
    right: 0;
    transition: 1.3s ease;
    opacity: 0;
    z-index: 1;
  }
  .product-image[data-match="table"], .product-image[data-match="floor"], .product-image[data-match="plant"] {
    opacity: 1;
  }
  .product-list[data-type="chair"]:hover ~ .product-image[data-match="chair"] {
    opacity: 1;
  }
  .product-list[data-type="support"]:hover ~ .product-image[data-match="support"] {
    opacity: 1;
  }
  .product-list[data-type="chair"]:hover ~ .product-image[data-match="chair"] {
    opacity: 1;
  }
  .product-list[data-type="wall"]:hover ~ .product-image[data-match="wall"] {
    opacity: 1;
  }
  .product-list[data-type="window"]:hover ~ .product-image[data-match="window"] {
    opacity: 1;
  }
  .product-list[data-type="cool"]:hover ~ .product-image[data-match="cool"] {
    opacity: 1;
  }
  .product-list[data-type="buddy"]:hover ~ .product-image[data-match="buddy"] {
    opacity: 1;
  }
  .product-list[data-type="items"]:hover ~ .product-image[data-match="items"] {
    opacity: 1;
  }
  .product-list[data-type="pets"]:hover ~ .product-image[data-match="pets"] {
    opacity: 1;
  }
  