<div class="mainbox">
<div class="topbar"></div>
<!--<img class="left platform"src="assets/platform.png">-->
<!--<img class="right platform"src="assets/platform.png">-->
<div class="assemblyleft left">  
  <div class="barleft">
      <img class="item1" src="assets/1-day.png">
  </div>
  <div class="barleft">
  <img class="item2" src="assets/6-day.png">
</div>
<div class="barleft">
  <img class="item3" src="assets/4-day.png">
</div>
</div>
<div class="assemblyleft right">  
  <div class=" barright">
      <img class="item4" src="assets/5-day.png">
  </div>
  <div class="barright">
  <img class="item5" src="assets/5-day.png">
</div>
<div class="barright">
  <img class="item6" src="assets/5-day.png">
</div>
</div>
<div class="lightcenter">
  <img class="logo"src="assets/logo.jpeg">
  <h1>Shop now</h1>
  <h1>About</h1>
  <h1>Contact</h1>
  <h1 (click)="toggleLight()"class="lighttoggle">
    ToggleLight
  </h1>
</div>
</div>