body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    perspective: 65em;
    perspective-origin: 50% calc(50% - 25em);
    background: #000;
}

.assemblyleft {
    position: absolute;
    top:40px;
}

.assemblyright {
    position: absolute;
    top:40px;
}

.barleft {
    /*transform-origin: 0 2.5em 0;*/
    /*animation: grow 8s cubic-bezier(0.19, 1, 0.23, 1) ;*/
    animation-duration:3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left:-200%;
    }
  
    75% {
      margin-top:0%;
    }
  
    to {
      margin-left: 80px;
    }
  }
  .barleft:nth-child(1) {
    transform: scaleY(1);
    margin-left:80px;
    color: #7ed6be;
}
.barleft:nth-child(2) {
    transform: scaleY(1);
    margin-left:80px;
    color: #ecf081;
}
.barleft:nth-child(3) {
    transform: scaleY(1);
    margin-left:80px;
    color: #ffbe40;
}
.barright {
    /*transform-origin: 0 2.5em 0;*/
    /*animation: grow 8s cubic-bezier(0.19, 1, 0.23, 1) ;*/
    animation-duration:3s;
    animation-name: slideinright;
}

@keyframes slideinright {
    from {
        margin-left:200%;
    }
    75% {
      margin-top:0%;
    }
  
    to {
    margin-left:-30px;
    }
  }

.barright:nth-child(1) {
    transform: scaleY(1);
    margin-left:-30px;
    color: #7ed6be;
}
.barright:nth-child(2) {
    transform: scaleY(1);
    margin-left:-30px;
    color: #ecf081;
}
.barright:nth-child(3) {
    transform: scaleY(1);
    margin-left:-30px;
    color: #ffbe40;
}


@keyframes grow {
    0% {
        transform: scaleY(0);
   }
}
/* You can add global styles to this file, and also import other style files */
.item1{
    width:100px;
    height:200px;
}
.item2{
    width:100px;
    height:200px;
}
.item3{
    width:100px;
    height:200px;
}
.item4{
    width:200px;
    height:200px;
}
.item5{
    width:200px;
    height:200px;
}
.item6{
    width:200px;
    height:200px;
}
.left{
    width:200px;
    bottom:0px;
    position: absolute;
}
.platform{
    width:600px !important;
    height:100%;
    margin-bottom: -150px;
    z-index: -1;
}
.right{
    right:0px;
    width:200px;
    bottom:0px;
    position: absolute;
}

.logo{
    width:250px;
    height:250px;
    border-radius: 30px;
}
.lamp{    
    height:800px;
    width:400px;
}

.lightcenter{
    margin:0 auto;
    text-align: center;
    margin-top:80px;
}
h1{
    border:rgb(204, 58, 58) solid 1px;
    color:rgb(204, 58, 58);
    width:20%;
    height:40px;
    padding-top:10px;
    margin:0 auto;    
    font-size:20px;
    border-radius: 20px;
    margin-bottom:20px;
    margin-top:20px;
    border-right:none;
    border-left:none;
}
h1:hover{
    background:rgb(204, 58, 58);
    color:white;
}

