<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<nav class="nav">
<div style="position:fixed;z-index:10;background-color:rgba(123,80,100,0.8);width:100%;">
    <div class="nav__elements">
        <div class="nav__logo"> <span>T</span><span>u</span><span>t</span><span>p</span><span>h</span><span>r</span><span>a</span><span>n</span><span>i</span><span>c</span><span>s</span></div>
        <div class="nav__cart">About</div>
        <div class="nav__cart">Contact</div>        
        <div class="nav__cart">CART</div>
    </div>
    </div>
    <div class="fullwidth">
  <div class="gallery">
    
    <figure class="item">
      <div class="img-wrap"><img src="../../assets/1-day.png" alt="" /></div>
      <div style="padding-right:50px"></div>
      <figcaption class="caption">
          <h3>Cat Cat<br/>30$ A cat but not an ordinary cat</h3>
          <a class="btn-buy" href="#">Buy</a>
          <a class="btn-details" href="#">See details</a>
      </figcaption>
    </figure>
        
    <figure class="item">
      <div class="img-wrap"><img src="../../assets/1-day.png" alt="" /></div>
      <div style="padding-right:50px"></div>
      <figcaption class="caption">
          <h3>Cat Cat<br/>32$ A cat but not an ordinary cat</h3>
          <a class="btn-buy" href="#">Buy</a>
          <a class="btn-details" href="#">See details</a>
      </figcaption>
    </figure>    
    <figure class="item">
      <div class="img-wrap"><img src="../../assets/1-day.png" alt="" /></div>
      <div style="padding-right:50px"></div>
      <figcaption class="caption">
          <h3>Cat Cat<br/>33$ A cat but not an ordinary cat</h3>
          <a class="btn-buy" href="#">Buy</a>
          <a class="btn-details" href="#">See details</a>
      </figcaption>
    </figure>    
    <figure class="item">
      <div class="img-wrap"><img src="../../assets/1-day.png" alt="" /></div>
      <div style="padding-right:50px"></div>
      <figcaption class="caption">
          <h3>Cat Cat<br/>31$ A cat but not an ordinary cat</h3>
          <a class="btn-buy" href="#">Buy</a>
          <a class="btn-details" href="#">See details</a>
      </figcaption>
    </figure>
  </div>
  
</div>
</nav>


</body>
</html>